header {
  width: 100vw;
  background-color: #000;
  position: fixed;
  height: 50px;
  z-index: 2;
}
.container {
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.container > h3 {
  color: #fff;
}
.menu .redes-sociais {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}
.menu .redes-sociais a {
  color: #fff;
}
.menu .social-item a i:hover {
  transform: scale(1.3);
}
