header {
  width: 100vw;
  background-color: #000;
  position: fixed;
  height: 50px;
  z-index: 2;
}
#logo{
  font-size: 24px;
  letter-spacing: 3px;;
}
.container {
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 40px;

}
.container a {
  color: #fff;
}
.menu .redes-sociais {
  display: flex;
  gap: 30px;
  margin-right: 40px;
  margin-left: 40px;
}

.menu .redes-sociais li{
  font-size: 28px;
}
.menu .redes-sociais a {
  color: #fff;
}
.menu .social-item a i:hover {
  transform: scale(1.3);
}
