#sobre-mim {
  width: 100%;
}
.sobre-mim .nome {
  font-size: 40px;
}
.sobre-mim {
  width: 90%;
  margin: auto;
}
.sobre-mim .titulo{
  margin-top:60px;
}
.sobre-mim p {
  font-size:20px;
}
.sobre-mim .profissao {
  text-align: center;
}
.sobre-mim .img-logo {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
