* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  color: aliceblue;
  font-size: 20px;
  background-image: url("../images/imagem-fundo.png");
  background: url("../images/imagem-fundo.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Roboto Slab", serif;
}

main {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #000;
  opacity: 0.9;
  width: 90ch;
  padding: 20px;
}
