.menu-top {
  width: 100%;
}
.menu-top .home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu-top .home img {
  margin-top: 60px;
  width: 200px;
  border-radius: 100px;
  
}
.menu-top .home h2{
    font-size: 40px;
}